version: "3.8"

services:
  postgres:
    image: postgres
    container_name: postgres-db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  api:
    build: ./api
    container_name: webapp-backend
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    env_file:
      - .env

  web:
    build: ./web
    container_name: webapp-frontend
    ports:
      - "3000:8080"
    depends_on:
      - api
volumes:
  db-data: